.landing-page {
    background-image: url('../Header/1692193299886.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
}